<%= form_with url: passed_test_path(@passed_test), local: true, method: :put, class: 'passed_test-form', data: { test_id: @passed_test.id } do |form| %>

  <%= form.collection_check_boxes :answer_ids,
                @passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <div class="form-check">
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
        <%= b.label class: 'form-check-label'%>
      </p>
    </div>
  <% end %>

  <p><%= link_to t('passed_tests_helper.gist_question'), gist_passed_test_path(@passed_test), method: :post %></p>
  <%= form.submit t('passed_tests_helper.next_button'), class: "btn btn-primary" %>
<% end %>
