<div class="row justify-content-md-center mt-3 ">
  <div class="col-md-auto mb-3">
    <h1><%= t('.header', title: @passed_test.test.name) %></h1>
    <p>

    <p><%= complete(@passed_test) %></p>
    <%#= content_tag(:p, t('.time_out')) unless @passed_test.success? %>
    </p>
    <p>
      <%= t('.all_quesions_number', total_questions: @passed_test.total_questions) %> <br>
      <%= t('.questions_with_correct_answers', correct_questions: @passed_test.correct_questions) %>
    </p>

    <div class="card text-center mb-3">
      <div class="card-body">
        <%= success_percentage_result_message(@passed_test) %> <br>
        <%= link_to t('.all_tests'), tests_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
