<h1>Passing the <%= @passed_test.test.name %> Test</h1>

<% if @passed_test.test.questions.none? %>

  <p>
    There is no available Questions <br>
  </p>

  <%= link_to 'Back to Tests', tests_path %>

<% elsif @passed_test.current_question.answers.none? %>

  <%= render 'header_and_question' %>

  <p>
    There is no available Answers <br>
  </p>

  <%= link_to 'Back to Tests', tests_path %>

<% else %>

  <%= render 'header_and_question' %>

  <%= render 'form' %>

<% end %>