<h1>Passing the <%= @passed_test.test.name %> Test</h1>

<% if @passed_test.test.questions.none? %>

  <p>
    <%= t('.no_available_questions') %><br>
  </p>

  <%= link_to t('navigation.back'), tests_path %>

<% elsif @passed_test.current_question.answers.none? %>

  <%= render 'header_and_question' %>

  <p>
    <%= t('.no_available_answers') %><br>
  </p>

  <%= link_to t('navigation.back'), tests_path %>

<% else %>

  <%= render 'header_and_question' %>

  <%= render 'form' %>

<% end %>