<% if user_signed_in? %>
  <div class="nav-admin user">
    <%= t('admin.header.welcome') %>, <b><%= current_user.full_name.html_safe %></b>
    <%= link_to t('admin.header.manage_badges'), admin_badges_path, class: 'navbar-brand' %> |
    <%= t('admin.header.guru') %> | <%= t('admin.header.admin_panel_inside')  %> |
    <%= link_to t('admin.header.log_out'), destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <p class="nav user">
    <%= link_to t('admin.header.log_in'), new_user_session_path %> <%= t('admin.header.or') %>
    <%= link_to t('admin.header.sign_up'), new_user_registration_path %>
  </p>
<% end %>

<hr>
