<!--<h1><%#= "Name test: #{@test.name}" %></h1>-->

<h1><%= t('.name') %> <%= @test.name %> </h1>


<!--<h1><%#= "Level test: #{level_test(@test)}" %></h1>-->

<h1><%= t('.level') %> <%= level_test(@test) %> </h1>


<p><%= render @test.questions %></p>

<%= link_to t('navigation.new_question'), new_admin_test_question_path(test_id: params[:id]) %><br>

<%= link_to t('navigation.back'), admin_tests_path %>