<tr align="center">
  <td><%= test.id %></td>
  <td><%= test.name %></td>
  <td><%= level_test(test) %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to t('.start_button'), start_test_path(test) %></td>
</tr>
